<!DOCTYPE html>
<html lang="en">
<head>
    <title>LunarCN Client | Plugins</title>
    <meta charset="UTF-8">
    <meta name="description" content="Download LunarClient plugins">
</head>
<body>
<h1>Plugins</h1>
WIP...
</body>
</html>